@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.content {
  text-align: center;
}

.content__title {
  font-weight: 900;
}

.grade {
  font-weight: 700;
}

.grade__item {
  float: left;
  width: calc(33% - 80px);
  min-width: calc(390px - 80px);
  font-weight: 400;
}
