
.lista {
    max-width: 780px;
    margin: auto;
}

.item {
    
    /* 1. Cores */
    background-color: orangered;
    border-radius: 5px;
    color: white;
    
    /* 2. Texto */
    font-family: 'Palette Mosaic', Arial Black, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;

    /* 3. Espaçamento externo */
    margin-top: 5px;
    margin-bottom: 5px;

    /* 4. Espaçamento interno */
    padding-top: 10px;
    padding-bottom: 10px;

    /* 5. Dimensão */
    width: 100%;

    /* 6. Empilhamento */
    float: left;

}